In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/email_list.csv")
df.shape

(122, 17)

In [3]:
df2 = df[df['emails'].isna()]
df2.shape

(36, 17)

In [4]:
df = df[df['emails'].notna()]
df['emails'] = df['emails'].str.lower()
df.shape

(86, 17)

In [5]:
df.head(2)

,name,adres,website,telefoon,reviews_count,reviews_average,latitude,longitude,search_keyword,emails,title,site_name,description,keywords,category,business_category,locale
0,Studievereniging Tri Movere,NaN,https://www.trimovere.nl,NaN,2,5.0,51.818526,5.723399,"Nederland, Nijmegen-Midden, Sporting Events",['info@trimovere.nl'],Home,Tri Movere,NaN,NaN,NaN,NaN,nl
1,Sport Event,NaN,https://www.sportevent.nl,NaN,1,5.0,51.899225,5.628144,"Nederland, Nijmegen-Midden, Sporting Events",['info@omnivents.nl'],"Sportevent, onze events op uw locatie!",Sportevent,Sport Event: maak je eigen avontuur en kies ze...,NaN,NaN,NaN,nl_NL

In [6]:
# Function to replace the domain with 'example'
def anonymize_emails(emails):
    # Flatten single email strings into lists for consistent processing
    if isinstance(emails, str):
        emails = [emails]
    # Replace the domain for each email
    anonymized = [
        email.split('@')[0] + '@example.' + email.split('.')[-1]
        if '@' in email else email
        for email in emails
    ]
    return anonymized if len(anonymized) > 1 else anonymized[0]

# Apply the function to the 'emails' column
df['emails'] = df['emails'].apply(anonymize_emails)

In [7]:
df.head(5)

,name,adres,website,telefoon,reviews_count,reviews_average,latitude,longitude,search_keyword,emails,title,site_name,description,keywords,category,business_category,locale
0,Studievereniging Tri Movere,NaN,https://www.trimovere.nl,NaN,2,5.0,51.818526,5.723399,"Nederland, Nijmegen-Midden, Sporting Events",['info@example.nl'],Home,Tri Movere,NaN,NaN,NaN,NaN,nl
1,Sport Event,NaN,https://www.sportevent.nl,NaN,1,5.0,51.899225,5.628144,"Nederland, Nijmegen-Midden, Sporting Events",['info@example.nl'],"Sportevent, onze events op uw locatie!",Sportevent,Sport Event: maak je eigen avontuur en kies ze...,NaN,NaN,NaN,nl_NL
5,Iconic Festival B.V.,NaN,https://www.devasim-nijmegen.nl,NaN,507,4.4,51.855572,5.800609,"Nederland, Nijmegen-Nieuw-West, Music Festivals",['contact@example.nl'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sportproductions,NaN,https://www.sportproductions.nl,NaN,175,4.8,51.855569,5.800609,"Nederland, Nijmegen-Nieuw-West, Sporting Events",['events@example.nl'],Home - Sportproductions,Sportproductions,Op zoek naar een sportieve en vernieuwende act...,NaN,NaN,NaN,nl_NL
7,Sport Event,NaN,https://www.sportevent.nl,NaN,1,5.0,51.899225,5.736291,"Nederland, Nijmegen-Nieuw-West, Sporting Events",['info@example.nl'],"Sportevent, onze events op uw locatie!",Sportevent,Sport Event: maak je eigen avontuur en kies ze...,NaN,NaN,NaN,nl_NL

In [8]:
df.shape, df2.shape

((86, 17), (36, 17))

In [12]:
from sklearn.utils import shuffle
# Combine vertically (row-wise)
result = pd.concat([df, df2], axis=0)
result = shuffle(result)
result.shape

(122, 17)

In [13]:
result.head(5)

,name,adres,website,telefoon,reviews_count,reviews_average,latitude,longitude,search_keyword,emails,title,site_name,description,keywords,category,business_category,locale
69,Radboud Universiteit,NaN,https://www.ru.nl,NaN,23,4.7,51.830822,5.748735,"Nederland, Nijmegen-Zuid, Universities",NaN,Radboud Universiteit | Radboud Universiteit,NaN,De Radboud Universiteit draagt bij aan een gez...,"universiteit, nijmegen, onderzoek, onderwijs, ...",NaN,NaN,NaN
82,Sportproductions,NaN,https://www.janmassinkhal.nl,NaN,821,4.0,51.899137,5.674490,"Nederland, Nijmegen-Midden, Sporting Events",['janmassinkhal@example.nl'],Jan Massinkhal,Gemeente Nijmegen,NaN,NaN,NaN,NaN,NaN
104,Mondzorg Oost,NaN,https://www.mondzorgoost.nl,NaN,40,4.3,51.843126,5.660086,"Nederland, Nijmegen-Oost, Dental Offices",NaN,Dé tandartspraktijk voor jouw mooie lach!,Mondzorg Oost,Dé tandartspraktijk voor jong en oud met perso...,NaN,NaN,NaN,nl_NL
1,Sport Event,NaN,https://www.sportevent.nl,NaN,1,5.0,51.899225,5.628144,"Nederland, Nijmegen-Midden, Sporting Events",['info@example.nl'],"Sportevent, onze events op uw locatie!",Sportevent,Sport Event: maak je eigen avontuur en kies ze...,NaN,NaN,NaN,nl_NL
73,Wassink Autogroep Nijmegen,NaN,https://www.wassinkautogroep.nl,NaN,569,3.9,51.828695,5.608819,"Nederland, Nijmegen-Zuid, Car Dealerships",NaN,"Wassink Autogroep | Peugeot, Citroën, DS, Kia,...",Wassink Autogroep,Bij Wassink Autogroep bent u aan het juiste ad...,NaN,NaN,NaN,nl_NL

In [14]:
result.to_csv('./data/email_list.csv')